<html>
	<head>
		<title>Pedro News</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="C:\Users\Pedro Valério\Documents\Aulas HTML\Aula 3\CSS\estilos.css">
	</head>
	<body>
	<div>
		<h1>Notícia 2</h1>
		<h3>Funerária Maria, sua morte nossa alegria</h3>
		<hr>
		<div>
			<img src="C:\Users\Pedro Valério\Documents\Aulas HTML\Aula 3\images\Tanjirou_manga.png">		
			<p><mark>Personagem Tanjirou</mark></p>
		</div>
		<a class="voltar" href="../index.html">Voltar</a>
		<hr>
		<p class="nome">Desenvolvido por: Pedro Valerio</p>
	</div>
	</body>
</html>