<html>
	<head>
		<title>Pedro News</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
		<h1>Notícia 2</h1>
		<h3>Funerária Maria, sua morte nossa alegria</h3>
		<hr>
		<p><iframe width="700" height="415" src="https://www.youtube.com/embed/ECCfuIKWbdg?si=6Ou-Y2cNPxxeQxjG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
		<p><mark>Shanghai</mark></p>
		<hr>
		<a class="voltar" href="../index.html">Voltar</a>
		<p class="nome">Desenvolvido por: Pedro Valerio</p>
	</body>
</html>