<html>
	<head>
		<title>Pedro News</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
	<div>
		<h1>Notícia 3</h1>
		<h3>Funerária Maria, sua morte nossa alegria</h3>
		<hr>
		<p><audio autoplay="autoplay" controls="controls">
		<source src="C:\Users\Pedro Valério\Documents\Aulas HTML\Aula 3\midias\Foo Fighters - Everlong (Official HD Video).mp3" type="audio/mp3" />
		seu navegador não suporta HTML5
		</audio></p>
		<p><mark>Foo Fighters - Everlong</mark></p>
		<hr>
		<a class="voltar" href="../index.html">Voltar</a>
		<p class="nome">Desenvolvido por: Pedro Valerio</p>
	</div>
	<div>
	</div>
	</body>
</html>